:root {
    --cTableBg: hsl(0, 0%, 98%);
    --cPrimary: #3c4064;
    --cTextLight: hsl(0, 0%, 95%);
    --cTableBorder: 0.5px solid hsl(0, 0%, 85%);
    --cTextDark: hsl(0, 0%, 20%);
    --shadow: 0 0 10px hsl(0, 0%, 85%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16rem;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    flex-shrink: 0;
    background: linear-gradient(105deg, #ff0000 0%, #ff0000 40%, #ffffff 50%, #2e39a3 60%, #2e39a3 100%);
    opacity: 0.25;
}

.head {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
}

h3,
h5 {
    text-align: center;
}

h6 {
    text-align: right;
    padding-right: 20%;
}

footer {
    text-align: center;
    background-color: var(--cTextLight);
}

a,
a:visited,
a:active {
    color: var(--cTextDark)
}

ul {
    margin-top: 20px;
    list-style-type: "- ";
}

.small {
    font-size: 13px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: var(--cPrimary);
    border-radius: 3px;
    border: var(--cTableBorder);
    color: var(--cTextLight);
    box-shadow: var(--shadow);
}

hr {
    border-top: none;
    height: 1px;
    color: var(--cTextDark);
    margin: 5px 0;
}

sup {
    font-size: 11rem;
    vertical-align: top;
}

#izracun {
    margin: 40px 0;
}

#izracun span {
    font-weight: 700;
}



/* ------- table ------- */

table {
    border-collapse: collapse;
    background-color: var(--cTableBg);
    position: relative;
    border-spacing: 0;

}

.tableContainer {
    border-radius: 5px;
    box-shadow: var(--shadow);
    overflow-x: auto;
    border: var(--cTableBorder);
}

tr {
    transition: all 0.2s ease-out;
}

thead {
    font-size: 13rem;
    background-color: var(--cPrimary);
    /* border-bottom: var(--cTableBorder); */
    color: var(--cTextLight);

}

th {
    text-align: center;
    padding: 5px;
    font-weight: 400;
    border-left: var(--cTableBorder);
}

th:first-of-type {
    border-left: none;

}



tfoot {
    background-color: var(--cPrimary);
    color: var(--cTextLight);
    /* border-top: var(--cTableBorder); */
}

tfoot td {
    padding: 10px 10px;
    text-align: right;
    /* font-weight: 700; */
}

td {
    text-align: right;
    padding: 4px 10px;
    border-left: var(--cTableBorder);
}

tbody tr:has(td):hover td {
    background-color: hsla(0, 0%, 90%);
}

tbody td {
    color: var(--cTextDark);
}


tbody tr:last-child {
    border-bottom: none;
}

tbody tr td:first-of-type {
    font-size: 14rem;
    text-align: left;
    border-left: none;
}



/* sticky column */

thead th:first-child {
    position: sticky;
    left: 0px;
    z-index: 12;
    background-color: var(--cPrimary);
    filter: brightness(0.9);
}

tbody td:first-child {
    position: sticky;
    left: 0px;
    z-index: 12;
    background-color: var(--cTableBg);
    filter: brightness(0.95);
}

tfoot td:first-child {
    position: sticky;
    left: 0px;
    z-index: 12;
    background-color: var(--cPrimary);
    filter: brightness(0.9);

}




input {
    border: var(--cTableBorder);
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


fieldset label {
    margin: auto 0;
}

fieldset {
    padding: 10px;
    margin: 40px auto;
    max-width: 400px;
    width: 100%;
    background-color: var(--cTableBg);
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

fieldset input {
    display: inline-block;
    width: 60px;
    text-align: right;
    align-self: flex-end;
}

fieldset#naknade input {
    width: 100px;

}

fieldset#upis>div>div>span {
    align-self: flex-end;

}

fieldset#upis>div {
    display: flex;
    justify-content: space-between;
}


fieldset#objekt>div {
    display: flex;
    justify-content: space-between;
}

fieldset#objekt select {
    border: var(--cTableBorder);
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
    margin: 10px 5px;
    width: 110px;
}

fieldset#upis>div>div,
fieldset#naknade>div>div {
    display: flex;
    flex-direction: column;
}


fieldset legend {
    font-size: 14rem;
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--cPrimary);
    color: var(--cTextLight);
    box-shadow: var(--shadow);
}

fieldset span {
    padding-right: 20px;
    font-size: 13px;
}


@media only screen and (min-width: 450px) {

    fieldset#upis>div>div {
        flex-direction: row;
    }

    fieldset#naknade>div>div {
        flex-direction: row;
        justify-content: space-between;
    }

    hr {
        display: none;
    }

    input {
        margin: 10px 5px;
    }
}


