* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body {
    font-family: sans-serif;
    font-size: 16rem;
    line-height: 1.3;
    padding: 20px;
}


table,th,td {
    border-collapse: collapse;
    border: 1px solid grey;
}

fieldset label {
    display: inline-block;
    min-width: 80px;
}

fieldset {
    padding: 10px;
    margin: 20px 0;
}

fieldset legend {
    font-size: 13rem;
}

fieldset span {
    padding-right: 20px;
}