:root {
    --cBackground: #1c212b;
    --cText: white;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    /* height: var(--doc-height); */
}

body {
    background-color: var(--cBackground);
    color: var(--cText);
}

a {
    /* text-decoration: none; */
    text-decoration-color: rgba(255, 255, 255, 0.3);
    text-decoration-thickness: 1px;
    color: inherit;
}

.scroller {
    position: absolute;
    z-index: 20;
    height: calc(100vh*9);
    width: 100vw;
    opacity: 0;
    overflow-y: hidden;
    background-color: rgba(242, 255, 0, 0.327);
}

.info {
    z-index: 11;
    position: fixed;
    bottom: 0;
    margin: 20px;
    padding: 10px 20px;
    color: rgb(106, 106, 106);
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
}

.container {
    position: fixed;
    /* opacity: 0.8; */
}

.container .startPage,
.container section {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.startPage {
    background-color: var(--cBackground);
    z-index: 2;
}