:root {
    --cBackground: #1C212B;
    --cText: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

html {
    font-size: 1px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16rem;
    font-weight: 400;
    background-color: var(--cBackground);
    color: var(--cText);
    display: grid;
    grid-template-rows: 30%;
    height: 100vh;
}

.content {
    z-index: 5;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.content section {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    border: 1px solid grey;
    height: 100vh;
    padding: 20rem;
}

.page10 {
    background-color: rgba(149, 0, 255, 0.2);
}

.page9 {
    background-color: rgb(0, 0, 255, 0.2);
}

.page8 {
    background-color: rgba(0, 179, 255, 0.2);
}

.page7 {
    background-color: rgba(0, 255, 51, 0.2);
}

.page6 {
    background-color: rgba(255, 230, 0, 0.2);
}

.page5 {
    background-color: rgba(255, 0, 0, 0.2);
}

.page4 {
    background-color: rgba(255, 179, 0, 0.2);
}

.page3 {
    background-color: rgba(0, 255, 162, 0.2);
}

.reveal {
    position: relative;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
  }

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}