@font-face {
    font-family: 'moderndos';
    src: url('moderndos8x16-webfont.woff2') format('woff2'),
         url('moderndos8x16-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "moderndos", sans-serif;
    font-weight: normal;
}
