@font-face {
    font-family: 'moderndos';
    src: url('moderndos8x16-webfont.woff2') format('woff2'),
         url('moderndos8x16-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "moderndos", sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(93, 93, 93);
}

.container {
    display:block;
    outline: 4px double black;
    outline-offset: -10px;
    padding: 40px;
    background-color: rgb(189, 189, 189);
    max-width: 300px;
    margin: 20px auto;
}

.shadow {
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.4);
}


p:before {
    position: relative;
}

h3 {
    padding: 10px;
}

button {
    padding: 10px 10px;
    font-size: 1rem;
    border: none;
    background-color: rgb(73, 175, 149);
    margin: 2px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

#btnEqual {
    grid-column: 4;
    grid-row: 4/6;
}

.display {
    background-color: rgb(73, 175, 149);
    margin-bottom: 20px;
    margin-top: -15px;
    color: white;
    padding: 20px;
    text-align: end;
}

.display p:first-child {
    margin-bottom: 10px;
}

.container h4 {
    position:relative;
    top: -40px;
    background-color: rgb(189, 189, 189);
    padding: 0 10px;
    text-align: center;
}