#gridContainer {
    display: grid;
    border: 1px solid rgb(70, 70, 70);
    margin: auto;
    margin-top: 50px;
}

#gridContainer div {
    margin: 1px;
}

.clear{
    background-color: rgb(225, 225, 225);
    transition: background-color 1s;
}

.hoverOver {
    background-color: rgb(70, 70, 70);
    transition: background-color .3s;
}

h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}