:root {
    --textCol: rgb(227, 224, 208);
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: black;
}

section {
    scroll-snap-align: start;
}

#hero .image {
    background-image: url("images/jesen-2.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

 #hero .mainTitle {
    position: absolute;
    bottom: 10%;
    right: 0%;
    text-align: end;
    color: var(--textCol);
    text-shadow: 0px 0px 20px black;
    margin-right: 2rem;
}

#hero h1 {
    font-size: 4rem;
    font-size: clamp(3rem,17vw,5rem);
    font-family: 'Unbounded', cursive;
}

#hero h4 {
    padding-left:20px;
}

.carousel-item {
    transition: transform 800ms ease-in-out;
}

.carousel-item img {
    object-fit: cover;
    height: 100vh;
}


 .overlay {
    position: absolute;
    /* z-index: -9999; */
    color: var(--textCol);
    margin: 0;
    height: 90%;
    width: 100%;
}

.overlay h4 {
    font-family: 'Unbounded', cursive;
}

.flexbox {
    /* z-index: -9; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    z-index: 9000;
    /* border: 1px solid yellow; */
    padding: 20px 10px 10px 20px;
    background-color: rgb(0, 0, 0, 0.4);
    max-width: 600px;
    width: min(100%, 600px);
    opacity: 0.8;
}

.bot {
    align-self: end;
    z-index: 9000;
    bottom: 0;
    max-width: 300px;
    bottom: 5%;
    padding: 10px;
    padding-right: 20px;
    /* border: 1px solid yellow; */
    background-color: rgb(0, 0, 0, 0.4);
    opacity: 0.7;
} 


p {
    margin-bottom: 0;
}