:root {
    --cWindow: #bdbdbd;
    --cMainBg: #5b6268;
    --cNavHover: #ffffff66;
    --cfirstLetter: #ca4545;
    --cLight: #787878;

    --cBtn: #dfc94d;
    --cBtnHover: #ffed85;
    --cEm: #ffe600;
    --cEm: #3d74b8;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cMainBg);
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--cBtn);
}

footer {
    text-align: center;
    margin-top: 40px;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--cWindow);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.navLink:hover {
    background-color: var(--cNavHover);
    ;
}

nav a {
    padding: 3px 10px;
}

nav li::first-letter {
    color: var(--cfirstLetter);
}

main {
    padding-top: 40rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

h1,
h2,
h4 {
    padding: 0 20px;
}

h2 {
    padding-top: 30px;
    font-size: 32rem;
    text-align: center;
    color: #bdbdbd;
}

.link {
    /* padding: 2px 5px; */
    text-decoration: underline;
}

.link:hover {
    background-color: var(--cBtnHover);
}


.btn {
    background-color: var(--cBtn);
    padding: 5rem 10rem;
}

.btn:hover,
.link:hover {
    background-color: var(--cBtnHover);
}

.shadow {
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.3);
}

.noBg {
    background-color: transparent;
}


/* ---- WINDOW ---- X*/
.window {
    scroll-margin-top: 60px;
    display: block;
    outline: 4px double black;
    outline-offset: -10px;
    padding: 20px;
    background-color: #bdbdbd;
    min-width: 330px;
    max-width: 600px;
    margin: 40px auto;
}

.window .title {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--cWindow);
    padding: 0 10px;
    text-align: center;
}

.window img {
    max-width: 100%;
    filter: grayscale(100%);
    padding: 10px;
}

.window img:hover {
    filter: grayscale(0%);
}


/* ---- CARD ---- */

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card .left {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -5px;
}

.card .right {
    padding: 7px 0;
    margin-left: 10px;
}

.card .right li {
    margin-left: 20px;
    list-style-type: ": ";
}


/* ---- TABLE ---- */

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th,
td {
    font-weight: normal;
    border-left: 1px solid black;
    padding: 2px 5px;
    text-align: left;
    word-break: break-all;
}

td:first-child {
    border-left: none;
}

tfoot,
thead {
    border-top: 1px solid black;
    color: #787878;
    color: #787878;
}

tbody tr:hover {
    background-color: var(--cBtnHover);
}

em {
    font-style: normal;
    color: var(--cEm);
}

i {
    font-style: normal;
    color: #787878;
}

span {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid;
    margin-right: 5px;
}

hr {
    border-top: 4px double rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: none;
    margin-left: -11px;
    margin-right: -11px;
}

/* ---- UTILITY ---- */

.mt-10 {
    margin-top: -10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt-20 {
    margin-top: -20px;
}

.mtb20 {
    margin: 20px 0;
}

.txtCenter {
    text-align: center;
}