:root {
    --cWindow: #bdbdbd;
    --cMainBg: #5b6268;
    --cNavHover: #ffffff66;
    --cfirstLetter: #ca4545;
    --cLight: #787878;
    --cBtn: #dfc94d;
    --cBtnHover: #ffed85;
    --cEm: #3d74b8;
    --cText: #222;
    --imgBrightness: 1;
    --imgContrast:1;
}

:root.dark {
    --cWindow: #3b3b3b;
    --cMainBg: #2c2f30;
    --cNavHover: #83838366;
    --cfirstLetter: #be3c3c;
    --cLight: #747474;
    --cBtn: #2c7592;
    --cBtnHover: #25647c;
    --cEm: #c49758;
    --cText: #d3d3d3;
    --imgBrightness: 0.7;
    --imgContrast:1.5;
}

* {
    transition:
        background-color 50ms linear,
        color 50ms linear;

}

::selection {
    color: rgb(0, 255, 72);
    background-color: rgb(128, 0, 255);
}

html {
    scroll-behavior: smooth;
}

body {
    transition: all 0.5 ease-in-out;
    background-color: var(--cMainBg);
    color: var(--cText);
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--cBtn);
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 0 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--cWindow);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

main {
    padding-top: 40rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

h1,
h2,
h4 {
    margin: auto 0;
    padding: 0 20px;
}

h2 {
    padding-top: 30px;
    font-size: 32rem;
    text-align: center;
    color: #bdbdbd;
}

em {
    font-style: normal;
    color: var(--cEm);
}

i {
    font-style: normal;
    color: var(--cLight);
}

span {
    display: inline-block;
    padding: 1px 4px;
    margin-top: 2px;
    margin-right: 2px;
    background-color: var(--cNavHover);
    border-radius: 2px;
}

hr {
    border-top: 1px solid;
    border-bottom: none;
    margin-left: -11px;
    margin-right: -11px;
}

pre {
    display: inline-block;
}



/* ---- NAVBAR ---- */

.navLink:hover {
    background-color: var(--cNavHover);
}

.navLink {
    padding: 3px 10px;
    display: block;
}

.navLink:first-letter,
.link:first-letter {
    color: var(--cfirstLetter);
}



/* ---- LINKS, BUTTONS ---- */

.link {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--cLight);
    text-decoration-thickness: 1px;
}

.link:hover {
    background-color: var(--cBtnHover);
    text-decoration: none;

}

.btn {
    background-color: var(--cBtn);
    padding: 5rem 10rem;
}

.btn:hover,
.link:hover {
    background-color: var(--cBtnHover);
}



/* ---- WINDOW ---- X*/

.window {
    scroll-margin-top: 60px;
    display: block;
    position: relative;
    outline: 4px double var(--cText);
    outline-offset: -10px;
    padding: 20px;
    padding-top: 25px;
    background-color: var(--cWindow);
    min-width: 330px;
    max-width: 600px;
    margin: 40px auto;
}

.window .title {
    display: block;
    position: absolute;
    inline-size:max-content ;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--cWindow);
    padding: 0 10px;
    text-align: center;
}

.window img {
    max-width: 100%;
    filter: grayscale(100%) brightness(var(--imgBrightness)) contrast(var(--imgContrast));
    padding: 15px;
}

.window img:hover {
    filter: grayscale(0%) brightness(var(--imgBrightness)) contrast(var(--imgContrast));
}



/* ---- CARD ---- */

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card .left {
    outline: 1px solid var(--cText);
    outline-offset: -5px;
}

.card .right {
    padding: 7px 0;
    margin-left: 10px;
}

.card .right li {
    margin-left: 10px;
}



/* ---- TABLE ---- */

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--cText);
}

th,
td {
    font-weight: normal;
    border-left: 1px solid var(--cText);
    padding: 2px 5px;
    text-align: left;
    word-break: break-all;
}

td:first-child {
    border-left: none;
}

tfoot,
thead {
    border-top: 1px solid var(--cText);
    color: var(--cLight);
}

tbody tr:hover {
    background-color: var(--cBtnHover);
}



/* ---- UTILITY ---- */

.shadow {
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.3);
}

.mt-10 {
    margin-top: -10px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt-20 {
    margin-top: -20px;
}

.mtb20 {
    margin: 20px 0;
}

.txtCenter {
    text-align: center;
}